
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form id="userform" method="get" action"~ /api/register" enctype="">
    <div class="input-group mb-3">
        <label for="Name">姓名：</label>
        <input type="text" id="Name" name="Name" class="form-control" placeholder="Name" aria-label="name" aria-describedby="basic-addon1">
        <labal id="checkRes"></labal>
    </div>
    <div class="input-group mb-3">
        <label for="Email">電子郵件：</label>
        <input type="email" id="Email" name="Email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <label for="Age">年紀：</label>
        <input type="text" id="Age" name="Age" class="form-control" placeholder="Age" aria-label="Age" aria-describedby="basic-addon1">
    </div>
    <div class="mb-3">
        <label for="FileName" class="form-label">上傳圖像</label>
        <input class="form-control" type="file" id="FileName" name="avator">
    </div>
    <button id="btnSubmit" type = "submit" class="btn btn-primary">送出</button>
</form>
<div id="divResult" class="alert alert-info-mt-3">

</div>
<div id="div1">

</div>
@section Styles {
    <style>
        .input-group {
            display: block;
        }

        #Name, #Email, #Age {
            width: 50%;
        }

        #checkRes {
            background-color: yellow;
        }
    </style>
}

@section Scripts {
<script>
    const btnSubmit = document.querySelector("#btnSubmit");
    const iptUsername = document.querySelector("#Name");
    const iptEmail = document.querySelector("#Email");
    const iptAge = document.querySelector("#Age");

    btnSubmit.addEventListener('click',async (evt)=>{
        evt.preventDefault();

        const myForm = document.querySelector("#userform");
        const formData = new FormData(myForm);
        formData.append("file", document.querySelector('#FileName').files[0]);
        formData.append("password", "12345678");

        const url = `@Url.Content("~/API/register/")`;
        const response = await fetch(url,{
            method: 'POST',
            body: formData
        });



        // for (const pair of formData.entries(){
        //     console.log(`${pair[0]}:${pair[1]}`);
        // }

        // const url = `@Url.Content("~/API/register/")?Email=${iptEmail.value}&Age=${iptAge.value})&Username=${iptUsername.value}`;
        
        // const response = await fetch(url);
        const data = await response.text();
        divResult.textContent = data;

    })

    //const divResult = document.querySelector('#div1');

    // (async () => {
    //     const url = '@Url.Content("~/API/register")?id=5&age=42&name=Tom';
    //     const response = await fetch(url);
    //     const data = await response.text();
    // divResult.innerHTML = data;
    // })();
       
</script>
}